@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  .slick-list {
    @apply 
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body::before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transform: scaleX(-1);
  z-index: -1;
}

#explore > h1 {
  display: flex;
  flex-direction: row;
}
#explore > h1:before, #explore > h1:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
#explore > h1:before {
  margin-right: 10px
}
#explore > h1:after {
  margin-left: 10px
}

#explore .slick-slide + .slick-slide  {
  margin: 0 10px;
}

q {
  overflow-wrap: break-word;
}

.flex a + a {
  margin-left: 12px;
}





